@import "./setting/setting";
@import "./font/font";
@import "./block/main";
@import "./theme/main-page";
@import "./animate/animate";
@import "./block/chat";

.cucces {
    width: 19%;
    font-size: 12px;
    position: absolute;
    top: 262px;
    right: 517px;
}

::-webkit-scrollbar{
    width: 0;
}
.not-messange-text{
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    width: 600px;
    text-align: center;
    background-color: #ffffffe8;                  
}