@import "./setting/setting";
@import "./font/font";
@import "./block/main";
@import "./theme/main-page";
@import "./animate/animate";
@import "./block/chat";

.cucces {
    width: 19%;
    font-size: 12px;
    position: absolute;
    top: 262px;
    right: 517px;
}